################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZipKeyChallenge/v16
/ZipKeyClient/bin/x86/Debug
/ZipKeyClient/obj
/ZipKeyService/obj
/ZipKeyService/bin
